﻿@model IEnumerable<Web_Blog.Models.Kategori>
@{
    Layout = null;
}
<h4>Kategoriler</h4>
<div class="row">

    <div class="col-lg-6">
        @foreach (var item in Model)
        {

            <ul class="list-unstyled">
                <li>
                    <a href="/Home/KategoriMakale/@item.Kategori_Id">@item.Kategori_Adi</a>
                </li>
            </ul>

        }
    </div>
</div>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategori_Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori_Adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Kategori_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Kategori_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Kategori_Id })
        </td>
    </tr>
}

</table>*@
